<!DOCTYPE html>
<html>
<head>
	<title>principal</title>
</head>
<body>
	<% for(var i=0; i<user.length ; i++){ %>
		<h2><%= user[i].login %></h2>
		<h2><%= user[i].senha %></h2>
	<% }%>
</body>
</html>